doctype html
html(lang="en")
    head
        title Eric Rolfe's Portfolio - Image Search Abstraction API
        link(rel="stylesheet", href="/image-search/css/style.css")
    body
        .wrapper
            h1
                a(href="https://www.freecodecamp.com") FreeCodeCamp.com
                |  - Image Search Abstraction API
            hr
            h2 User Stories:
            ol
                li I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
                li I can paginate through the responses by adding a <code>?offset=2</code> parameter to the URL.
                li I can get a list of the most recently submitted search strings.
            h2 Useage Examples
            dl
                dt Search for "Grumpy Cat" (User Story 1):
                dd
                    code #{protocol}://#{host}#{base}/api/search/Grumpy%20Cat
                dt View the third page of a search for "Mountains" (User Story 2): 
                dd
                    code #{protocol}://#{host}#{base}/api/search/Mountains?offset=3
                dt View the most recently submitted searches (User Story 3):
                dd
                    code #{protocol}://#{host}#{base}/api/recent
            h2 Result Examples
            dl
                dt Search Results (User Stories 1 &amp; 2):
                dd 
                    blockquote
                        code
                            pre.
                                {
                                   "totalResults":"23",
                                   "currentPage":"2"
                                   "images":[
                                       {
                                           "image":"https://www.blah.com/xxx",
                                           "page":"https://www.blah.com/page/xxx",
                                           "alt_text":"Alt Text"
                                       },
                                       {
                                           "image":"https://www.blah.com/xxx",
                                           "page":"https://www.blah.com/page/xxx",
                                           "alt_text":"Alt Text"
                                       },
                                       {
                                           "image":"https://www.blah.com/xxx",
                                           "page":"https://www.blah.com/page/xxx",
                                           "alt_text":"Alt Text"
                                       }
                                   ]
                                }
                dt Recent Searches (User Story 3):
                dd 
                    blockquote
                        code
                            pre.
                                [
                                    {
                                        "searchTerm":"Funny Cats",
                                        "searchTime":"2016-07-15T19:40:24.961Z"
                                    },
                                    {
                                        "searchTerm":"Grumpy Cats",
                                        "searchTime":"2016-07-15T19:38:16.437Z"
                                    }
                                ]